@model kina.Models.employe
@{
    ViewBag.Title = "edit";
}

<h2>edit</h2>

@using (Html.BeginForm("UpdateData", null))
{
    <input type="hidden" name="e_id" class="form-control" value="@(Model.e_id)" />
    <label class="col-md-2">Name</label>
    <div class="col-md-4">
        <input type="text" name="e_name" class="form-control" value="@(Model.e_name)" />
    </div>
    <br />
    <br />
    <label class="col-md-2">Address</label>
    <div class="col-md-4">
        <input type="text" name="Address" class="form-control" value="@(Model.address)" />
    </div>
    <br />
    <label class="col-md-2">PhoneNumber</label>
    <div class="col-md-4">
        <input type="text" name="PhoneNumber" class="form-control" value="@(Model.PhoneNumber)" />
    </div>
    <div class="col-md-4">
        <input type="submit" name="save" value="submit" />
    </div>}
